<!DOCTYPE html>
<html ng-app="repeatApp">
<head>
    <meta charset="UTF-8">
    <title>영화내용 출력페이지</title>
<link rel="stylesheet" href="css/kakao.font.css" />
<style>
	body {
		font: 200 20px "Kakao", sans-serif;
	}
	
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	li {
		float: left;
		width: 100px;
		padding: 10px;
		margin: 10px;
		box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
		border:5px solid #757575;
	}

	h3 {
		margin:5px 0;
		text-align: center;
		font-size:15px;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
		width:100px;
	}
</style>
</head>

<body ng-controller="repeatCtrl">
    <h1>영화목록<em ng-bind="movies.length"></em>개</h1>
    <button ng-click="deleteMovie()">삭제</button>
    <ul>
		<!-- angular는 html 그자체를 템플릿으로 활용 -->
		<li ng-repeat="movie in movies">
			<img src="poster/{{movie.poster}}" width="100">
			<h3 ng-bind="movie.name"></h3>
		</li>
    </ul>
<script src="js/angular.min.js"></script>
<script>

	var app = angular.module("repeatApp",[]);

	app.controller("repeatCtrl",["$scope",function($scope){

		//deleteMovie함수 선언
		$scope.deleteMovie = function() {

			$scope.movies.pop();

		}//deleteMovie() end

		$scope.movies = [
			{"no":0,"poster":"p1.png","director":"롤랜드 에머리히","name":"인디펜던스 데이:리써전스","likes":106,"dislikes":12},
			{"no":1,"poster":"p2.png","director":"이경미","name":"비밀은 없다","likes":106,"dislikes":12},
			{"no":2,"poster":"p3.png","director":"존 파브로","name":"정글북","likes":106,"dislikes":12},
			{"no":3,"poster":"p4.png","director":"박찬욱","name":"아가씨","likes":106,"dislikes":12},
			{"no":4,"poster":"p5.png","director":"제임스 완","name":"컨저링2","likes":106,"dislikes":12},
			{"no":5,"poster":"p6.png","director":"아리엘 브로멘","name":"크리미널","likes":106,"dislikes":12}
		];


		//alert("zz");

	}]);

</script>
</body>
</html>